.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  visibility: hidden;
}
.modal-overlay.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.modal-container.hidden {
  transform: scale(0.9);
  transition: transform 0.5s ease-in-out;
}
.modal-container {
  background-color: white;
  border-radius: 8px;

  position: relative;
  width: 80%;
  max-width: 800px;
  height: auto;
}
.modal-container.zoomed {
  width: 100%;
  height: 100%;
  max-width: none;
}
.modal-container.zoomed .img-slide-modal {
  background-color: black;
}
.modal-container.zoomer .modal-overlay > .close-button {
  z-index: 0 !important;
}
.zoomed .swiper-zoom-container {
  width: 100%;
  height: 100%;
}
.close-button {
  position: absolute;
  top: 6%;
  right: 2%;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  font-size: 40rem;
  line-height: 1;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: background-color 0.3s;
  z-index: 100;
  &:hover {
    background-color: $text-color-accent;
  }
}

.swiper-container-modal {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-wrapper,
modal {
  display: flex;
}

.swiper-slide.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;

  border-radius: 8px;
}

.swiper-pagination-modal {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  bottom: -10% !important;
  z-index: 10;
}

.swiper-button-prev.modal,
.swiper-button-next.modal {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev-container-modal,
.swiper-button-next-container-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}

@media (hover: hover) {
  .swiper-button-prev-container-modal:hover,
  .swiper-button-next-container-modal:hover {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .swiper-button-prev-container-modal:hover .swiper-button-prev,
  .swiper-button-next-container-modal:hover .swiper-button-next {
    color: #333;
  }
}

@media (hover: none) {
  .swiper-button-prev-container-modal:active,
  .swiper-button-next-container-modal:active {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .swiper-button-prev-container-modal:active .swiper-button-prev,
  .swiper-button-next-container-modal:active .swiper-button-next {
    color: #333;
  }
}
.swiper-button-next-container-modal > .swiper-button-next {
  color: #fff;
}
.swiper-button-prev-container-modal > .swiper-button-prev {
  color: #fff;
}
.swiper-button-prev-container-modal {
  left: -50%;
}

.swiper-button-next-container-modal {
  right: -50%;
}

.img-slide-modal {
  min-width: 100%;
  min-height: 100%;
  object-fit: contain;
  border-radius: 8px;
  background-color: none;
}
.swiper-pagination-modal > .swiper-pagination-bullet {
  background: #333;
  margin: 0 20px !important;
  width: 30px;
  height: 30px;
  opacity: 1;
}

.swiper-pagination-modal > .swiper-pagination-bullet-active {
  background: #fff;
  margin: 0 20px !important;
}
@media (max-width: 1290px) {
  .swiper-button-prev-container-modal {
    left: -5%;
  }

  .swiper-button-next-container-modal {
    right: -5%;
  }
  .swiper-button-prev-container-modal,
  .swiper-button-next-container-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
  }
}

@media (max-height: 1000px) {
  .modal-container {
    height: 60vh;
  }
  .close-button {
    top: 10%;
  }
  .img-slide-modal {
    object-fit: cover !important;
  }
}

@media (max-width: 970px) {
  .swiper-button-prev-container-modal,
  .swiper-button-next-container-modal {
    display: none;
  }
  .modal-container {
    max-width: none;
    width: 80%;
  }
  .close-button {
    font-size: 80rem;
    width: 60px;
    height: 60px;
    color: #fff;
  }
  .swiper-pagination-modal {
    bottom: -10% !important;
  }
  @media (max-height: 500px) {
    .modal-container {
      height: 100vh;
      width: 100%;
    }
    .close-button {
      z-index: 2;
      top: 15%;
      color: #fff;
    }
    .img-slide-modal {
      object-fit: fill;
    }
  }
}
@media (max-width: 768px) {
  .modal-container {
    width: 100%;
  }
  .img-slide-modal {
    object-fit: cover !important;
  }
  @media (max-height: 500px) {
    .modal-container {
      height: 100vh;
      width: 100%;
      transform: scale(1) !important;
    }
    .close-button {
      z-index: 2;
      top: 15%;
      color: #fff;
    }
    .img-slide-modal {
      object-fit: fill;
    }
  }
}
