@import './variables.scss';
@import '../components/notFoundComponent/notFoundComponent.module.scss';
@import '../components/header/header.module.scss';
@import '../pages/AuthPage/authpage.scss';
@import '../components/toast/toast.scss';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}
html,
body,
#app {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html {
  scroll-behavior: smooth;
  width: 100%;
  font-size: 1px;
}
body {
  font-size: 16rem;
}
