// main colors
$text-color-base: rgb(0, 0, 0);
$text-color-contrast: rgb(255, 255, 255);
$text-color-accent: rgb(57, 172, 217);
$not-found-base-color: rgb(86, 111, 167);
$not-active-color: rgb(151, 148, 148);
$text-color-error: rgb(255, 64, 64);
$additional-info-color: #666;
$card-background: rgb(247, 247, 247);

// fonts
$font-family-base: 'Poppins', sans-serif;
$font-family-logo: 'Oxygen', sans-serif;
$font-size-small: 14rem;
$font-size-base: 16rem;
$font-size-button-text: 20rem;
$font-size-subtitle: 22rem;
$font-size-large-text: 24rem;
$font-size-form-heading: 32rem;
$font-size-big-heading: 64rem;

//effects
$button-hover-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
$button-disabled-background: gray;

//other
$button-border: 1px solid #bbb5b5;

//mixins
@mixin hoverButton {
  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}

@mixin inputDisabled {
  &:disabled {
    background-color: #f0f0f0;
    color: #ccc;
    border-bottom: 1px solid #ccc;

    &:hover {
      cursor: not-allowed;
    }
  }
}