// main colors
$text-color-base: rgb(0, 0, 0);
$text-color-contrast: rgb(255, 255, 255);

// fonts
$font-family-base: "Poppins", sans-serif;
$font-size-base: 16rem;
$font-size-form-heading: 32rem;
$font-size-button-text: 20rem;