.catalog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
  font-family: $font-family-base;
}

.product-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: $card-background;
  border-radius: 5px;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-name {
  font-size: $font-size-subtitle;
  margin: 10px 0;
}

.product-description {
  font-size: $font-size-base;
  color: $additional-info-color;
}

.product-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-price {
  font-size: $font-size-subtitle;
  color: $text-color-base;
  margin: 10px 0;
}

.product-original-price {
  font-size: $font-size-subtitle;
  color: $additional-info-color;
  text-decoration: line-through;
  margin: 10px 0;
}

.product-discounted-price {
  font-size: $font-size-subtitle;
  color: red;
  margin: 10px 0;
}