.buttons-for-reviewer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 100px;
  align-items: flex-start;
}

.button-for-reviewer {
  text-decoration: none;
  border: none;
  background: none;
  color: $not-active-color;
  font-family: $font-family-base;

  @include hoverButton;
}

@media (hover: hover) and (pointer: fine) {
  .button-for-reviewer {
    @include hoverButton;
  }
}