@import '..//../styles/variables.scss';
.registration__page {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.registration-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1440px;
  user-select: none;
  height: auto;
  z-index: -1;
  border-radius: 50%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgb(0, 0, 0));
}
.wrapper__registration  {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  object-fit: cover;
  margin: 0 auto;
  padding: 20px;
}
.registration__auth-side {
  display: flex;
  width: 80vw;
  max-width: 800px;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px
}
.auth-side__title {
  text-align: center;
  padding-bottom: 20px;
}
.auth-side__reg-form {
  display: flex;
  flex-direction: column;
}
.reg__label {
  position: relative;
  display: flex;
  flex-direction: column;
}


.reg-form__container__date-checks{
  display: flex;
  justify-content: space-between;
}
.address__countries-item {
  color: black;
  padding: 3px 0 0 10px;
  border-bottom: 1px solid black;
}

.reg-form__default-label{
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.default__label{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.billing__country-label,
.shipping__country-label {
  position: relative;
}
.billing__countries-list,
.shipping__countries-list {
  position:absolute;
  top:0;
  color: black;
  width: 100%;
  height: 20px;
  transition: all 0.5s ease;
  border-radius: 10px;
  padding-left: 5px;
  border: 1px solid;
  z-index: 10;
}
.billing__countries-input,
.shipping__countries-input {
  transition: all 0.5s ease;
  width: 0%;
  opacity: 0;
}
.billing__country-wrapper,
.shipping__country-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}


.reg-input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 18px;
  padding: 0 0 1px 5px;
  &:focus {
    color: black;
    border-bottom: 1px solid #86b7fe;
    outline: 0;
  }

 @include inputDisabled;
}
input[type="checkbox"] {
  accent-color: black;
  border-radius: 10px;
  height: 16px;
  width: 16px;
}

.sign-in__button {
  color: $text-color-accent;
  background: none;
  border: none;
  cursor: pointer;
}
.auth-side__sign-in {
  display: flex;
  justify-content: center;
}
.sign-in__text {
  padding-right: 30px;
}
.reg-form__button {
  margin-bottom:20px;
  background-color: black;
  color: white;
  font-size: 20rem;
  padding: 12px 0;
  border-radius: 20px;
  &:hover {
    box-shadow: $button-hover-box-shadow;
  }
}
.reg-button {
  transition: all 0.5s ease;
  cursor: pointer;
  @include inputDisabled;
}

.reg-form__date-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.date-input {
  width: 50px;
  margin: 0;
  text-align: center;
}
.error {
  font-size: 10rem;
  position: absolute;
  bottom: 0px;
  color: red;
}
.addresses-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  column-gap: 10px;
}
.shipping__container{
  width: 50%;
  transition: all 0.3s ease;
  z-index: 5;
}
.shipping__container--join{
  width: 100%;
}
.billing__container{
  width: 50%;
  transition: all 0.3s ease;
  opacity: 1;
}
.billing__container--join{
  transform: translateX(-400px);
  opacity: 0;
  width: 0;
}
@media (hover: hover) and (pointer: fine) {
  .reg-button:hover {
    box-shadow: $button-hover-box-shadow;
  }
  .sign-in__button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}.--expanded {
  top: 20px;
  height: 180px;
  border-radius: 10px 0 0 10px;
  overflow-y: auto;
  background: white;
}
.countries-input--expanded {
  opacity: 1;
  width: 100%;
}
.--expanded::-webkit-scrollbar {
  width: 10px;
  border-radius: 60px;
  left: -10px;
}
.--expanded::-webkit-scrollbar-track {
  background: white;   
}

.--expanded::-webkit-scrollbar-thumb {
  background-color: black;   
  border-radius: 20px;      
  border: 3px solid white; 
}