@import '..//../styles/variables.scss';
.wrapper__registration {
  display: flex;
  justify-content: center;
  height: 100%;
  font-family: $font-family-base;
}
.registration__img-side {
  width: 60%;
  background-image: url('/assets/registration/registration-img.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 55px;
  color: white;
}
.container__registration {
  height: 100%;
}
.address__country-label {
  position: relative;
}
.address__countries-list {
  position:absolute;
  top:0;
  background: white;
  color: black;
  width: 255px;
  width: 100%;;
  height: 20px;
  transition: all 0.5s ease;
  border-radius: 10px;
  padding-left: 10px;
  border: 1px solid;
  z-index: 10;
}
.address__countries-input {
  transition: all 0.5s ease;
  width: 0%;
  opacity: 0;
}

.address__country-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.countries-input--expanded {
  opacity: 1;
  width: 100%;
}
.--expanded {
  top: 20px;
  height: 230px;
  border-radius: 10px;
  overflow: auto;
}
.registration__page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.address__countries-item {
  color: black;
  padding: 3px 0 0 10px;
  border-bottom: 1px solid black;
}

.img-side__title {
  font-size: 40rem;
}
.img-side__description {
  padding: 10px;
  font-size: 20rem;
  min-width: 30%;
  max-width: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}
.reg-form__address {
  display: flex;
  flex-direction: column;
}
.img-side__creator {
  font-size: 16rem;
}

.reg__label {
  position: relative;
  display: flex;
  flex-direction: column;
}
.auth-side__title {
  text-align: center;
}
.registration__auth-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0 50px 0 100px;
  justify-content: space-around;
}
.auth-side__reg-form {
  display: flex;
  flex-direction: column;
}
.reg-input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.reg-input:focus {
  color: black;
  border-bottom: 1px solid #86b7fe;
  outline: 0;
  padding: 0 0 1px 5px;
}
.sign-in__button {
  color: $text-color-accent;
  background: none;
  border: none;
  cursor: pointer;
}
.auth-side__sign-in {
  display: flex;
  justify-content: center;
}
.sign-in__text {
  padding-right: 30px;
}
.reg-form__button {
  background-color: black;
  color: white;
  font-size: 20rem;
  padding: 15px 0;
  border-radius: 20px;
  &:hover {
    box-shadow: $button-hover-box-shadow;
  }
}
.reg-button {
  transition: all 0.5s ease;
  cursor: pointer;
}

.reg-form__birthday-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.birthday-input {
  width: 50px;
  margin: 0;
  text-align: center;
}
.error {
  position: absolute;
  bottom: 0px;
  color: red;
}
.birthday__check-btn {
  background-color: $text-color-contrast;
  color: $text-color-base;
  font-size: 18rem;
  padding: 5px 10px;
  border-radius: 10px;
  border: $button-border;
}

@media (hover: hover) and (pointer: fine) {
  .reg-button:hover {
    box-shadow: $button-hover-box-shadow;
  }
  .sign-in__button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}
