.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-family: $font-family-logo;
  font-size: $font-size-large-text;
  font-weight: bold;
  color: $text-color-base;
  cursor: pointer;
}

.logo-link {
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
  .logo-link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  }
}
