@import '..//..//../styles/variables.scss';
.modal__password-form {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  min-width: 350px;
  width: 30vw;
  font-family:$font-family-base;
}
.password-form__title{
  text-align: center;
  padding: 20px 0 40px;
  font-family: $font-family-logo;
}
.password-form__btn-container{
  display: flex;
  gap: 30px;
  justify-content: center;
}
.new-password-label,
.current-password-label{
  margin-top: 20px;
  padding: 0 0 10px;
}
.password-result__title{
  text-align: center;
}
.password-result__result-container{
  display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  min-width: 350px;
  width: 30vw;
  font-family: "Poppins", sans-serif;
}