.user-profile-page {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-family-base;
  height: 100%;  
}
.profile__img{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  width: 100%;
  user-select: none;
  z-index: -1;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.05));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgb(0, 0, 0));
}
.profile-container{
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  object-fit: cover;
  margin: 0 auto;
  padding: 20px;
}
.profile-container__profile-wrapper{
  max-width: 800px;
  height: 640px;
  width: 80vw;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px;
  margin-top: 64px;
  margin-bottom: 2vh;
}

.profile__header{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.profile-header__logo-container{
  display: flex;
  gap: 15px;
}

.profile-logo__logo-img{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26rem;
  background-color: $text-color-accent;
  color: $text-color-contrast;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.profile-logo__user-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-header__buttons-container{
  display: flex;
  gap: 20px;
}
.profile-btn{
  width: 80px;
  height: 40px;
  border: 0;
  color:$text-color-contrast;
  border-radius:8px ;
  background:$text-color-accent;
  transition:all 0.5s ease; 
  transition: all 0.5s ease;
}
.profile-btn {
  cursor: pointer;
  &:hover:not(:disabled) {
    box-shadow: $button-hover-box-shadow;
  }
  &:disabled {
    background-color: $button-disabled-background;
    cursor: not-allowed;
  }
}
.btn-edit--active{
  background: $text-color-base;
  color: $text-color-accent;
}
.profile-main__personal-profile-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-container__profile-form{
  display: flex;
  justify-content: space-around;
  grid-column-gap: 20px;  
  padding: 40px 20px 0;
}
.profile-form__address-prof-container{
width: 50%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile-form__personal-prof-container{
  width: 50%;
}
.countries-list.readonly{
  color: $text-color-contrast;
  background: black;
  border-radius: 50px;
}
.address-prof__country-container{
  position: relative;
}
.address-prof__countries-list.countries-list{
  top: 15px;
}
.address-prof__countries-list.--expanded{
  height: 191px;
  top: 32px;
}
.address-prof__country-indicator{
  font-size: 10rem;
}
.prof-label{
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap:5px ;
}
.profile-form__date-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.profile-form__countries-container-list{
  position: relative;
  overflow: hidden;
}
.countries-container-list--expand{
  overflow:initial;
}
.profile-form__countries-search{
  border: none;
  transition: all 0.5s ease;
  width: 0%;
  opacity: 0;
}
.profile__countries-item{
    color: black;
    padding: 3px 0 0 10px;
    border-bottom: 1px solid black;
    display: none;
}
.profile__countries-item--expand{
  display: block;
}
.countries-search--expand{
  opacity: 1;
  width: 100%;
}
.profile__countries-list{
  position: absolute;
  top: 0;
  color: white;
  width: 100%;
  height: 20px;
  transition: all 0.5s ease;
  border-radius: 10px;
  padding-left: 5px;
  border: 1px solid black;
  z-index: -1;
  opacity: 0;
}
.profile__countries-list--expand{
  top: 20px;
  height: 186px;
  opacity: 1;
  border-radius: 10px 0 0 10px;
  overflow-y: auto;
  background: white;
  z-index: 10;
}
.address-prof-input{
  transition: all 0.5s ease;
  width: 0%;
  opacity: 0;
}
.prof-input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  margin-bottom: 18px;
  padding: 0 0 1px 5px;
  &:focus {
    color: black;
    border-bottom: 1px solid #86b7fe;
    outline: 0;
  }
  @include inputDisabled;
}
.prof-input[readonly] {
  color: $text-color-contrast;
  background: black;
  border-radius: 50px;
}
.prof-input[readonly]:focus {
  border-bottom: 1px solid black;
}
.profile-address-label{
  display: flex;
  flex-direction: column;
}
.reg-form__shipping-checkbox.default__label{
  order: -1;
}